<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="panel panel-primar">
        <div class="panel-heading">
            <h3 class="panel-title">
                Upload an Image
            </h3>
        </div>

        <form method="post" action="/images" enctype="multipart/form-data">
            <div class="panel-body" form-horizontal></div>
        </form>
    </div>
</body>
</html>